.container > * {
  margin-bottom: 1rem;
}

.container > *:last-child {
  margin-bottom: 0;
}

.card {
  display: flex;
  gap: .5rem;
  border: 1px solid #0F2B33;
  border-radius: 15px;
  padding: 1.5rem;
  transition: border-color 100ms ease-in-out;
}
.card:hover {
  border-color: #1e4853;
}

.body {
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: inline-block;
}
.title:hover {
  opacity: 0.75;
}

.desc {
  line-height: 1.3;
  max-width: 320px;
}

.icon {
  font-size: 1.75rem;
  margin-top: 0.2rem;
  color: #50A0EA;
}

@media screen and (max-width: 740px) {
  .card {
    flex-direction: column;
  }
  .right {
    margin-top: 2rem;
  }
}
