.logo img {
  height: 2rem;
  margin-right: .5rem;
}

.logo {
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
  border-radius: 5px;
  padding: .5rem;
  margin-left: -0.5rem;
}

.logo:hover {
  background-color: rgb(var(--colors-bgLightest));
}

.logo:active {
  transform: scale(1.05);
}
