.neato-guider-codeblock {

  /*
   * basic styling of the block
   */
  @apply gd-bg-bgLight gd-text-textLight gd-rounded-lg gd-mb-4 gd-grid gd-text-sm gd-grid-cols-1;

  code {
    @apply gd-relative;
  }

  figcaption {
    @apply gd-text-textLight gd-px-4 gd-py-2 gd-border-b gd-border-text gd-border-opacity-25;
  }

  pre {
    @apply gd-p-4 gd-overflow-x-auto gd-font-mono gd-w-full;
  }


  /*
   * line numbers
   */
  code[data-line-numbers] {
    counter-reset: line;

    > [data-line]::before {
      counter-increment: line;
      content: counter(line);
      @apply gd-inline-block gd-mr-4 gd-text-right gd-opacity-50;
    }
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }


  /*
   * annotated lines + highlighted lines
   */
  code .highlighted, code span[data-highlighted-line] {
    @apply gd-bg-codeHighlight -gd-mx-4 gd-px-4;
  }

  code .highlighted.error {
    @apply gd-bg-codeError -gd-mx-4 gd-px-4;
  }

  code .highlighted.warning {
    @apply gd-bg-codeWarning -gd-mx-4 gd-px-4;
  }


  /*
   * highlighted words
   */
  code mark, code .highlighted-word {
    @apply gd-bg-bgLightest gd-border gd-border-codeWordHighlight gd-rounded-lg gd-py-0.5 gd-px-2;
  }


  /*
   * diff view
   */
  code:has(.diff) {
    @apply gd-pl-4;
  }

  code .diff {
    @apply -gd-ml-8 -gd-mr-4 gd-pl-8 gd-pr-4 gd-relative;
  }

  code .diff.remove {
    @apply gd-bg-codeError;
  }
  code .diff.remove::before {
    content: "-";
    @apply gd-text-semanticCaution gd-absolute gd-left-3;
  }

  code .diff.add {
    @apply gd-bg-codeGreen;
  }
  code .diff.add::before {
    content: "+";
    @apply gd-text-semanticTip gd-absolute gd-left-3;
  }


  /*
   * focused code
   */
  code:has(.focused) [data-line]:not(.focused) {
    opacity: .25;
    transition: opacity 200ms ease-in-out;
  }

  &:hover code:has(.focused) [data-line]:not(.focused) {
    opacity: 1 !important;
  }


  /*
   * show language
   */
  code[data-language]::after {
    content: attr(data-language);
    @apply gd-absolute gd-opacity-50 gd-scale-90 gd-origin-top-right gd-uppercase gd-text-sm -gd-top-1 gd-font-sans -gd-right-1 gd-font-bold gd-text-text;
  }
}
