/*
 * task lists
 */
.neato-guider-list:has(li > input[type="checkbox"]) .neato-guider-list-line,
.neato-guider-list > li > input[type="checkbox"] {
  /* on tasklists, hide checkbox and the line */
  display: none;
}

.neato-guider-list:has(li > input[type="checkbox"]) > li > .neato-guider-task {
  /* on tasklists, show the fake checkbox */
  display: inline-flex;
}

.neato-guider-list > li:has(.neato-guider-task ~ input[type="checkbox"][checked]) > .neato-guider-task {
  @apply gd-bg-primaryDark gd-border-primaryDark;
}

.neato-guider-list > li:has(.neato-guider-task ~ input[type="checkbox"][checked]) > .neato-guider-task > .neato-guider-task-icon {
  display: inline-block;
}


/*
 * numbered lists
 */
ol.neato-guider-list > li > .neato-guider-list-line {
  @apply gd-bg-transparent gd-mt-0 gd-text-text;
}

ol.neato-guider-list > li > .neato-guider-list-line::before {
  counter-increment: listitem;
  content: counter(listitem) ".";
}
ol.neato-guider-list {
  counter-reset: listitem;
}


/*
 * nested lists (they have different spacing)
 */
.neato-guider-list .neato-guider-list {
  @apply gd-mt-3;
}

.neato-guider-list:not(:has(.neato-guider-list)) {
  @apply gd-mb-8;
}
