@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Rubik:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply gd-bg-bg gd-text-text;
}

/* codeblock styling */
.neato-guider-codeblock {
  @apply gd-bg-bgLight gd-text-textLight gd-rounded-lg gd-mb-4 gd-text-sm;
}

.neato-guider-codeblock figcaption {
  @apply gd-text-textLight gd-px-4 gd-py-2 gd-border-b gd-border-text gd-border-opacity-25;
}

.neato-guider-codeblock pre {
  @apply gd-p-4 gd-overflow-x-auto gd-font-mono;
}

.neato-guider-codeblock code[data-line-numbers] {
  counter-reset: line;
}

.neato-guider-codeblock code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply gd-inline-block gd-mr-4 gd-text-right gd-opacity-50;
}

.neato-guider-codeblock code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

.neato-guider-codeblock code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

.neato-guider-codeblock code .highlighted, .neato-guider-codeblock code span[data-highlighted-line] {
  @apply gd-bg-white;
}

.neato-guider-codeblock code .highlighted-word {
  @apply gd-bg-white;
}

.neato-guider-codeblock code .highlighted.error {
  @apply gd-bg-red-600;
}

.neato-guider-codeblock code .highlighted.warning {
  @apply gd-bg-amber-400;
}

.neato-guider-codeblock code mark {
  @apply gd-bg-amber-200;
}

.neato-guider-codeblock code mark {
  @apply gd-bg-amber-200;
}

.neato-guider-codeblock code .diff.remove {
  @apply gd-bg-red-600;
}

.neato-guider-codeblock code .diff.add {
  @apply gd-bg-green-400;
}

.neato-guider-codeblock code:has(.focused) [data-line]:not(.focused) {
  opacity: .25;
  transition: opacity 200ms ease-in-out;
}

.neato-guider-codeblock code:has(.focused):hover [data-line]:not(.focused) {
  opacity: 1 !important;
}

/* sidebar styling */
.neato-guider-sidebar .neato-guider-sidebar-group:first-child {
  margin-top: 0px !important; /* groups shouldnt have top margin if its the first item */
}
